#header {
    display: block;
    font-size: 60px;
    font-style: italic;
    text-align: center;
    height: 100px;
}

#searchBar {
    margin-top: 30px;
    margin-left: 5px;
}

#menuSideBar {
    margin-top: 5px;
}

.card {
    margin-top: 20px;
    display: inline-block;
}

.card-text {
    color: rgb(182, 104, 104);
    font-weight: bold;
}

.pagination-button {
    margin: 5px;
    color: black;
    background-color: #f1f1f1;
    border: none;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
}

.pagination-button:hover {
    background-color: #ddd;
}

.pagination-button.active {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#typeHeader > h2{
    font-weight: lighter;
    font-size: 20px;
}

#typeHeader {
    font-weight: lighter;
    font-size: 20px;
}

#allTypesHeader {
    font-weight: lighter;
    font-size: 20px;
}