.flower-image {
    width: 700px;
    height: auto;
}

.flower-container {
    margin: 50px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
}

.flower-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.flower-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#updateFlower {
    margin-left: 50px;
}

#menuSideBar {
    margin-left: 50px;
}

#searchBar {
    margin-top: 50px;
    margin-left: 50px;
}

#header {
    display: block;
    font-size: 60px;
    font-style: italic;
    text-align: center;
    height: 100px;
}

#createItem {
    margin-left: 60px;
}

#editOptions {
    margin-left: 60px;
}